@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background-color: #1F1F1F;
    font-family: 'Roboto Condensed', sans-serif;
}


h1 {
    color: #F5C518;
    font-family: 'Nabla', cursive;
}

h2 {
    color: white;
}
